.section-link {
	background-color: $grey200;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: background-color .3s ease-in-out;

	h1 {
		margin-bottom: 8px;
	}

	p {
		color: $dark;
	}

	&:hover {
		background-color: $grey300;
	}
}

.title {
	color: $grey600;
	text-transform: uppercase;
}


.article {
	.taxonomy {
		a:not(.author) {
			color: $dark;
			&:hover {
				color: $blue;
			}
		}
	}
	.timestamp {
		color: $grey600;
	}
	.tags {
		a {
			color: $grey500;
		}
	}
}

.github-repo {
	display: flex;
	align-items: center;
	.icon {
		margin-right: 8px;
	}
}

.text-content {
	max-width: $paragraph-width;
	margin: 0 auto;
	padding: 0 16px;
	@media screen and (min-width: 980px) {
		padding-bottom: 288px;
	}
}

.comments {
	border-top: 1px solid $grey300;
}

.content {
	.header {
		padding: 0 0 24px;
	}

	blockquote {
		border-left: 3px solid $grey300;
		padding: 0 16px;
		margin: 16px 0;
		font-style: italic;
	}

	h1 {
		padding: 0;
	}

	h2, h3, h4, h5 {
		padding: 16px 0 4px;
	}

	p {
		padding: 8px 0;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}

	ul {
		margin: 0;
		padding: 4px 0;
		list-style-type: circle;
		li {
			display: list-item;
			padding: 4px 0;
			margin: 0 0 0 48px;
		}
	}
	ol {
		margin: 0;
		padding: 4px 0;
		list-style-type: decimal;
		li {
			display: list-item;
			padding: 4px 0;
			margin: 0 0 0 48px;
		}
	}
}

.page-about {
	img {
		display: block;
		max-width: 300px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		@media screen and (min-width: 640px){
			float: right;
			margin: 0 0 16px 16px;
		}
	}
}

