.menu-switch {
	display: block;
	float: right;
	padding: 13px;
	margin: 19px;

	.path {
		transform: rotate(0) translateY(0) translateX(0);
		transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
		transform-origin: center center;

		.lines {
			opacity: 1;
		}
	
		.cross {
			opacity: 0;
		}
	}

	&.opened {
		.icon {
			.lines {
				transform: rotate(180deg) translateY(0) translateX(0);
				opacity: 0;
			}
		
			.cross {
				transform: rotate(180deg) translateY(0) translateX(0);
				opacity: 1;
			}
		}
	}

	@media screen and (min-width: 980px) {
		display: none;
	}
}

.menu {
	position: absolute;
	width: 100%;
	transition: margin-top .5s ease-in-out, top .5s ease-in-out,
		width .5s ease-in-out, left .5s ease-in-out;
	z-index: 1000;
	left: -100%;
	top: 88px;
	width: 144px;
	background-color: #ffffff;

	ul {

	}
	
	a {
		color: $dark;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		line-height: 30px;
		transition: color .3s ease-in-out;
		padding: 18px 0;

		&::before {
			transition: width .3s ease-in-out, margin .3s ease-in-out;
			width: 0;
			margin: 15px 32px 0 0;
			content: '';
			height: 1px;
			background-color: $grey600;
			display: block;
			float: left;
		}

		&:hover {
			color: #2098f5;
			&::before {
				width: 24px;
				margin: 15px 8px 0 0;
			}
		}

		&.active {
			font-weight: bold;
			color: $dark;
			&::before {
				width: 24px;
				margin: 15px 8px 0 0;
				background-color: $blue;
			}
		}
	}

	&.opened {
		left: 0;
		top: 88px;
		width: 100%;
	}

	@media screen and (min-width: 980px) {
		display: block;
		position: absolute;
		top: 144px;
		left: 0;
		a {
			padding: 0;
		}
	}

	@media screen and (min-width: 980px) and (min-height: 640px){
		position: fixed;
		top: 50%;
		left: 0px;
		z-index: 1000;
		margin-top: -184px;
	}

	@media screen and (min-width: 980px) and (min-height: 800px){
		position: fixed;
		top: 50%;
		left: 0px;
		z-index: 1000;
		margin-top: -105px;
	}
}

.no-js {
	.menu {
		display: block;
		border-top: 1px solid #b1c3d4;
		text-align: center;
		padding: 20px 0;

		a {
			&::before {
				width: 0;
				padding: 0;
				margin: 0;
				display: block;
			}
		}
	}

	.menu-switch {
		display: none;
	}
}



