.contact-content {
	.wrapper {
		position: relative;
		background-color: $dark;
		color: $grey100;
	}

	.content {
		padding:  50px 50px 290px;

		h1 {
			padding-bottom: 50px;
		}
	}

	.studio {
		padding: 24px 0 0;

		.org, .adr {
			padding: 4px 0 16px;
		}

		a {
			color: $grey100;
			border-bottom: 1px dotted $grey100;
			&:hover {
				color: $blue;
			}
		}

		.label {
			text-transform: uppercase;
		}
	}

	.title {
		color: $grey300;
		font-size: 1.2em;
	}

	.arrow {
		width: 0; 
		height: 0; 
		border-top: 20px solid $dark;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		position: absolute;
		left: 50%;
		bottom: 220px;
		margin-left: -20px;
		z-index: 1001;
	}

	.map {
		position: absolute;
		bottom: 0;
		left: 0px;
		right: 0px;
		height: 240px;
		z-index: 1000;
	}
	
	.feedback {

		form {
			padding: 32px 48px;
		}

		label {
			font-size: 1.2em;
			line-height: 1.8em;
			text-transform: uppercase;
		}

		.box-label {
			font-size: 1em;
			text-transform: none;
		}

		.terms {
			padding: 1em 0;
			margin: 0 auto;
		}

		textarea {
			width: 100%;
			height: 200px;
		}

		input[type=email] {
			width: 100%;
		}

		.button {
			width: 90px;
			margin: 8px auto;
			display: block;
		}
	}

	@media screen and (min-width: 700px) {
		margin: 0 144px 288px;
		.wrapper {
			float: left;
			width: 50%;
		}

		.feedback {
			float: left;
			width: 50%;
		}
	}
}
