.home-content {
	min-width: 320px;

	.home-slide {
		background-color: $superblue;
		background-image: url(/slides/aisl-slide.jpg);
		background-size: 100% auto;
		position: relative;
		align-items: center;
		color: $lightblue;

		.wrapper {
			display: flex;
			padding: 16px 32px;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			a {
				position: relative;
				display: block;
				color: $white;
				&::before {
					display: block;
					width: 0px;
					height: 1px;
					background-color: $white;
					content: '';
					position: absolute;
					left: -30px;
					top: 50%;
					transition: width .3s ease-in-out;
				}
			}
		}

		.left {
			min-width: 300px;
			text-align: center;
			h1 {
				font-size: 4.0em;
			}
			p {
				font-size: 1.4em;
			}
			a {
				&:hover {
					&::before {
						width: 20px;
					}
				}
			}


			@media screen and (min-width: 640px) {
				text-align: left;
			}
		}

		.right {
			min-width: 300px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			.article {
				margin: 16px 0;
			}
			h1 {
				font-size: 1.4em;
			}
			p {
				color: $dark;
				font-size: 0.9em;
			}
			a {
				&:hover {
					&::before {
						width: 16px;
					}
				}
			}

			@media screen and (min-width: 640px) {
				text-align: left;
				padding: 16px 0 16px 64px;
			}
		}

		.overlay {
			background-color: $white;
			height: 144px;
			text-align: center;
			color: $dark;
			font-size: 1.4em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
				margin-bottom: 8px;
			}

			@media screen and (min-width: 800px) {
				position: absolute;
				bottom: -72px;
				left: 50%;
				margin-left: -400px;
				width: 800px;
			}
		}
		
		@media screen and (min-width: 800px) {
			display: flex;
			justify-content: center;
			height: 640px;
		}
	}

	.home-projects {
		.section-link {
			padding: 16px;
			flex: 1 0 0;
			.boxed {
				width: 100%;
				height: 240px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			margin: 8px 16px;

			&.left {
				@media screen and (min-width: 600px) {
					margin-right: 8px;
				}
			}
			&.right {
				@media screen and (min-width: 600px) {
					margin-left: 8px;
				}
			}
		}

		@media screen and (min-width: 600px) {
			display: flex;
			justify-content: space-between;
		}
	}

	.posts {
		padding: 32px 16px;
		h1 {
			text-align: center;
		}
		.button {
			text-align: center;
			display: block;
			margin: 24px auto 0;
			width: 80px;
		}

		.article {
			display: block;
			max-width: 500px;
			margin: 16px auto;
			h1 {
				font-size: 1.2em;
				text-align: left;
			}
		}

		.title {
			font-size: 1.4em;
			text-align: center;
		}
	}

	.services {
		text-align: center;
		.dark-bg {
			padding: 24px 0;
			background-color: $superdark;
			justify-content: center;
			align-items: center;
			min-height: 144px;
			.left {
				margin: 8px auto;
				min-width: 200px;
			}
			.middle {
				margin: 8px auto;
				max-width: 480px;
			}
			.right {
				margin: 8px auto;
				min-width: 200px;
			}
			
			@media screen and (min-width: 600px) {
				display: flex;
			}
		}
		p {
			font-size: 1.2em;
		}
		.arrow {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $superdark;
			margin: 0 auto;
		}
		.button {
			border: 2px solid $grey100;
		}

		.technologies {
			display: flex;
			padding: 50px;
			flex-wrap: wrap;
			flex: 0 0 0;
			justify-content: center;

			.icon {
				display: block;
				width: 50px;
				height: 50px;
				margin: 16px;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				filter: gray;
				opacity: .8;
				transition: filter .3s ease-in-out, opacity .3s ease-in-out;

				&:hover {
					-webkit-filter: grayscale(0%);
					filter: grayscale(0%);
					opacity: 1;
				}
	
				@media screen and (min-width: 480px) {
					width: 80px;
					height: 80px;
				}
			}
		}
	}
	@media screen and (min-width: 980px) {
		margin: 0 144px;
		padding: 0 0 288px;
	}
}

