.list-content {
	max-width: $paragraph-width;
	margin: 0 auto;
	position: relative;

	.aside {
		display: none;
		position: absolute;
		top: 48px;
		right: 0px;
		width: $aside-width;
		.title {
			text-transform: uppercase;
			color: $grey500;
			margin: 24px 0 16px;
			font-size: 1.2em;
		}
		.taxonomy {
			font-size: 0.8em;
		}
		@media screen and (min-width: 640px) {
			display: block;
		}
	}

	.content {
		.sections {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			margin: 0 -4px;

			.section-link {
				height: 144px;
				margin: 4px;
				flex: 1 0 0;
				min-width: 320px;
			}
		}

	}

	padding-left: 16px;
	padding-right: 16px;

	@media screen and (min-width: 640px) {
		padding-right: $aside-width + 64px;
	}

	@media screen and (min-width: 980px) {
		padding-bottom: 288px;
		padding-left: $aside-width + 64px;
	}
}
