@font-face {
	font-family: 'Jura';
	src: local('Jura Regular'), local('Jura-Regular'),
		 url('/font/jura-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Jura';
	src: local('Jura Bold'), local('Jura-Bold'),
		 url('/font/jura-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

$font: 'Jura', sans-serif;

$white: #ffffff;
$dark: #192734;
$superdark: #001121;
$blue: #2098f5;
$superblue: #5bd6ff;
$lightblue: #b9e2ff;
$grey700: #93999f;
$grey600: #87929a;
$grey500: #556471;
$grey300: #eceef3;
$grey200: #f8f8fc;
$grey100: #fafaff;

$paragraph-width: 800px;
$aside-width: 200px;

/* tags and common classes */
@import "style.scss";
/* menu */
@import "menu.scss";
/* logo, footer, header */
@import "layout.scss";
/* global content styling */
@import "content.scss";
/* styling of home page content */
@import "home.scss";
/* styling of contact page content */
@import "contact.scss";
/* styling of list-type page content */
@import "list.scss";
/* styling of blog and taxonomy page content */
@import "blog.scss";

