html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav,
section, summary, ul, li, code, blockquote, .section
{
	display: block;
}

body,
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav,
section, summary, ul, li, code, blockquote, img, h1, h2, h3, h4, h5, p
{
	margin: 0;
	padding: 0;
}

body {
	font-family: $font;
	font-size: 100%;
	height: 100%;
	color: $dark;
}

a {
	color: $blue;
	transition: color .3s ease-in-out;
	text-decoration: none;

	&:hover {
		color: $dark;
		.icon {
			fill: $blue;
		}
	}
	
	&.button {
		line-height: 48px;
	}

	.dark {
		color: $dark;
		&:hover {
			color: $blue;
		}
	}
}

input, textarea {
	font-family: sans-serif;
	font-size: 1em;
	background-color: $grey300;
	border: 0;
	color: $dark;
	border-radius: 20px;
	transition: color .3s ease-in-out,
		background-color .3s ease-in-out;
}

textarea {
	padding: 10px;
	line-height: 1.2em;
}

input {
	&[type=text],
	&[type=email],
	&[type=password] {
		display: block;
		padding: 0 10px;
		line-height: 40px;
		height: 40px;
	}
}

button {
	font-size: 1em;
	cursor: pointer;
	font-family: $font;
}

label {
	display: block;
}

.button {
	display: inline-block;
	border-radius: 24px;
	height: 48px;
	border: 2px solid $superdark;
	background-color: $superdark;
	color: #fafaff;
	text-decoration: none;
	cursor: pointer;
	padding: 0 24px;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
	&:hover {
		color: $superdark;
		background-color: $grey100;
	}
}

.dark-bg {
	.button {
		color: $grey100;
		border: 2px solid $grey100;
		&:hover {
			color: $dark;
		}
	}
}

h1 {
	font-weight: normal;
	font-size: 2.0em;
}

h2 {
	font-weight: normal;
	font-size: 1.6em;
}


h3 {
	font-weight: bold;
	font-weight: normal;
	font-size: 1.4em;
}

h4 {
	font-weight: normal;
	font-size: 1.2em;
}

h5 {
	font-weight: normal;
	font-size: 1em;
}

p code, ul code {
	display: inline-block;
	background-color: $grey200;
	border: 1px solid $grey300;
	border-radius: 3px;
	font-size: 1em;
	padding: 0 3px;
	color: $dark;
}

pre code {
	font-family: monospace;
	padding: 16px;
}


hr {
	border: 0;
	border-top: 1px solid #d9dfe3;
}

.icon {
	display: block;
	width: 24px;
	height: 24px;
	fill: $dark;
	transition: fill .3s ease-in-out;
}

.dark-bg {
	color: $grey100;

	a {
		color: $superblue;
	
		&:hover {
			color: $grey100;
		}

		.button {
			border: 2px solid $grey100;
			color: $grey100;

			&:hover {
				color: $superdark;
				background-color: $grey100;
			}
		}
	}
}

