{{ define "main" }}
	<div class="text-content blog-content">
	<aside class="aside">
		<h1>{{- .Title -}}</h1>
		{{- .Content -}}

		<div class="taxonomies">
			<div class="title">Categories</div>
			<ul>
			{{ range $key, $taxonomy := .Site.Taxonomies.categories }}
				<li><a href="/categories/{{ $key }}/">@{{ $key }}</a> [{{ .Count }}]</li>
			{{ end }}
			</ul>

			<div class="title">Tags</div>
			<ul>
			{{ range $key, $taxonomy := .Site.Taxonomies.tags }}
				<li><a href="/tags/{{ $key }}/">#{{ $key }}</a> [{{ .Count }}]</li>
			{{ end }}
			</ul>
		</div>
	</aside>
	<div class="content">
		{{ $paginator := .Paginate (where .Site.RegularPages "Params.publication" true)}}
		{{ range $paginator.Pages }}
			<article class="article">
				{{- partial "article.html" . -}}
			</article>
		{{ end }}
		{{- template "_internal/pagination.html" . -}}
	</div>
	</div>
{{ end }}
