{{ define "main" }}
<div class="list-content">
{{ if and (.Params.project) (or (.Params.project.tag) (.Params.project.github)) }}
<aside class="aside">
<div class="title">Latest version</div>
<p>{{ .Params.project.version }}</p>
{{ if .Params.project.github }}
<div class="title">Repository</div>
<div class="github-repo">
	<svg class="icon"><use xlink:href="/icon/sprite.svg#github"/></svg><a href="https://github.com/{{ .Params.project.github }}">{{ .Params.project.github }}</a>
</div>
{{ end }}
{{ if .Params.project.tag }}
	{{ $project_tag := .Params.project.tag }}
	{{ range $key, $taxonomy := .Site.Taxonomies.tags }}
	{{ if eq $key $project_tag }}
	<div class="posts">
		<div class="title">Related posts</div>
		<ul>
		{{ range first 8 $taxonomy.Pages }}
			<li class="article">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				<div class="taxonomy">{{- partial "categories.html" . -}} &ndash; 
					<span class="timestamp">{{ .Date.UTC.Format "January 02, 2006" }}</span></div>
			</li>
		{{ end }}
		</ul>
	</div>
	{{ end}}
	{{ end }}
	{{ end }}
</aside>
{{ end }}
<main class="content">
	<div class="header">
		<h1>{{- .Title -}}</h1>
	</div>
	{{- .Content -}}
	<div class="sections">
		{{ range .Pages.ByWeight }}
		<section class="section-link">
			<a href="{{ .Permalink }}">
				<h1>{{ .LinkTitle }}</h1>
				<p>{{ .Params.details }}</p>
			</a>
		</section>
		{{ end }}
	</div>
</main>
</div>
{{ end }}
