{{ define "main" }}
	<div class="blog-content">
	<aside class="aside">
		<a href="/blog/">Blog</a> /
		<h1>{{ if eq .Data.Singular "tag" }}#{{ else }}@{{ end }}{{ .Title }}</h1>
		{{ $current := .Title }}
		{{- .Content -}}
		<div class="taxonomies">
			<div class="title">Categories</div>
			<ul>
			{{ range $key, $taxonomy := .Site.Taxonomies.categories }}
			<li><a href="/categories/{{ $key }}/"{{ if eq $key $current }} class="dark"{{ end }}>@{{ $key }}</a> [{{ .Count }}]</li>
			{{ end }}
			</ul>
			<div class="title">Tags</div>
			<ul>
			{{ range $key, $taxonomy := .Site.Taxonomies.tags }}
				<li><a href="/tags/{{ $key }}/"{{ if eq $key $current }} class="dark"{{ end }}>#{{ $key }}</a> [{{ .Count }}]</li>
			{{ end }}
			</ul>
		</div>
	</aside>
	<div class="content">
		{{ range .Pages }}
			<article class="summary">
				{{- partial "article.html" . -}}
			</article>
		{{ end }}
	</div>
	</div>
{{ end }}
