<div class="footer">
	<div class="footer-logo dark-bg">Löwenware</div>
	<div class="upper">
		<!--div class="newsletter">
			<form>
				<label for="newsletter__email">Subscribe to newsletter</label>
				<div class="newsletter__field">
					<input type="email" name="email" id="newsletter__email" placeholder="your@email.address" />
					<button type="submit" class="submit" name="submit" value="1">Subscribe</button>
				</div>
			</form>
		</div-->
		<div class="social">
			<a href="/goto/github" title="Go to GitHub"><svg class="icon"><use xlink:href="/icon/sprite.svg#github"/></svg></a>
			<a href="/goto/instagram" title="Go to Twitter page"><svg class="icon"><use xlink:href="/icon/sprite.svg#instagram"/></svg></a>
			<a href="/goto/linkedin" title="Go to LinkedIn profile"><svg class="icon"><use xlink:href="/icon/sprite.svg#linkedin"/></svg></a>
			<a href="/goto/youtube" title="Go to YouTube channel"><svg class="icon"><use xlink:href="/icon/sprite.svg#youtube"/></svg></a>
		</div>
	</div>
	<div class="lower dark-bg">
		<div class="wrapper">
			<div class="copyright">&copy; 2017 - 2020 by Löwenware s.r.o.</div>
			<div class="legal">
				<a href="/privacy-statement/">Privacy statement</a><span> | </span>
				<a href="/terms-of-use/">Terms of use</a>
			</div>
		</div>
	</div>
</div>

