{{ define "main" }}
<div class="contact-content">
	<div class="wrapper">
		<div class="content">
			<h1>{{- .Title -}}</h1>
			{{- .Content -}}
			<div class="studio">
				<h2>{{- .Params._subtitle -}}</h2>
				<p class="org">{{- .Params._company.name -}}</p>
				<div class="label">Address:</div>
				<p class="adr">
					<span class="street-address">{{- .Params._address.street -}}</span><br/>
					<span class="postal-code">{{- .Params._address.postalCode -}}</span>
					<span class="locality">{{- .Params._address.locality -}}</span><br />
					<span class="country-name">{{- .Params._address.country -}}</span>
				</p>
				<p>
					<span class="label">Phone:</span>
					<a href="tel:{{- .Params._phone -}}" class="contacts__phone tel">{{- .Params._phone -}}</a>
				</p>
				<p class="org-id"><span class="label">Company ID:</span> <span class="value">{{- .Params._company.orgID -}}</span></p>
				<p class="org-iban"><span class="label">IBAN:</span> <span class="value">{{- .Params._company.iban -}}</span></p>
			</div>
		</div>
		<div class="map">
			<iframe width="100%" height="100%" id="gmap_canvas" src="{{- .Params._map -}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
		<div class="arrow"></div>
	</div>
	<div class="feedback">
		<form method="post" id="feedback__form">
		<div class="contacts__msg">
			<label for="feedback__msg">Your Message</label>
			<textarea id="feedback__msg" class="float-label"></textarea>
		</div>
		<div class="contacts__email">
		<label for="feedback__email">Your E-Mail</label>
			<input type="email" id="feedback__email" text="" class="float-label" />
		</div>
		<div class="terms">
		<!--input id="feedback__terms" type="checkbox" name="terms_accepted" value="1" />
			<label for="feedback__terms" class="box-label"-->
			By submitting this form you agree with <a
						 href="/privacy-statement.html">Privacy Statement</a> and accept
				 <a href="terms-of-use.html">Terms of Use</a>.
		</div>
		<div class="form-row">
			<button type="submit" class="button">Send</button>
		</div>
		</form>
	</div>
</div>
{{ end }}
