
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100vh;
  font-family: "Jura", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;

@layer base {
  h1, h2, h3 {
    @apply font-normal text-lg;
  }
  a {
    @apply text-dark hover:text-blue duration-300;
  }
  main a {
    @apply text-blue hover:text-dark duration-300;
  }
  article h1 {
    @apply text-blue hover:text-dark duration-300;
  }
  h1 a, a h1, a.card h1  {
    @apply text-blue hover:text-highlight duration-300;
  }
  a.card:hover h1 {
    @apply text-highlight;
  }
  a.card p {
    @apply text-dark;
  }
  pre{
    @apply bg-dark p-16 overflow-auto
  }

}
pre {
  color:#f8f8f2
}

.slide h1 {
  @apply text-2xl m-0;
}

.slide p {
  @apply text-md;
}

.card ul {
  list-style: disc;
  @apply ml-24;
}

main h2,
main h3 {
  @apply flex h-144 items-center justify-center;
}

.card h1, .card h2, .card h3 {
  @apply h-auto;
}


main p {
  @apply pb-24;
}

article h1 {
  @apply text-lg;
}

button, .button {
  @apply: cursor-pointer uppercase;
}

@tailwind components;

@layer components {
  html,
  body {
    @apply h-full p-0 m-0 font-jura;
  }

  #__next {
    @apply relative h-full;
  }
}

@tailwind utilities;

.menu-switch .icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #192734;
}

.menu-switch .path {
  transform: rotate(0) translateY(0) translateX(0);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  transform-origin: center center;

}

.menu-switch .path .lines{
  opacity: 1;
}
.menu-switch .path .cross{
  opacity: 0;
}
.menu-switch.opened .path .lines{
  transform: rotate(180deg) translateY(0) translateX(0);
  opacity: 0;
}
.menu-switch.opened .path .cross{
  transform: rotate(180deg) translateY(0) translateX(0);
  opacity: 1;
}

.opened-list {
  width: 100%;
}

.opened-nav {
  width: 100%;
  margin-top: 0;
  transform: translateX(0);
}

/* Code Highlighting */
.syntax {
  overflow-x: auto;
  @apply relative bg-dark text-sm drop-shadow my-24 p-24 border-l-2;
}

.syntax button {
  @apply absolute text-blue top-24 right-24 opacity-0 transition-opacity;
}

.syntax:hover button {
  @apply absolute opacity-100;
}

.syntax button:hover {
  @apply text-blue;
}

.syntax button.copied {
  @apply text-green;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  @apply text-purple;
}

.hljs-title,
.hljs-name,
.hljs-subst {
  /* default */
  @apply text-blue
}

.hljs-string,

.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  @apply text-blue;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  @apply text-blue;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
