@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

a {
  color: inherit;
  text-decoration: none;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@tailwind base;

@layer base {
  h1 {
    @apply font-normal text-h1;
  }
  h2{
    @apply  font-normal text-h2;
  }
  h3{
    @apply font-normal text-h3;
  }
  p {
    @apply text-medium;
  }
  article h1 {
    @apply text-blue hover:text-dark-super duration-300
  }
  pre{
    @apply bg-dark p-16 overflow-auto
  }
}
pre{
  color:#f8f8f2
}


.card h1 {
  @apply text-h3;
}

main h1 {
  @apply mt-32 mb-16;
}

main h2 {
  @apply mt-32 mb-16;
}

main p {
  @apply pt-8 pb-4;
}

article h1 {
  @apply text-h3;
}

button {
  @apply: cursor-pointer;
}

@tailwind components;

@layer components {
  html,
  body {
    @apply h-full p-0 m-0 font-jura;
  }

  #__next {
    @apply relative h-full;
  }
}
@tailwind utilities;
.menu-switch .icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #192734;
}
.menu-switch .path {
	transform: rotate(0) translateY(0) translateX(0);
		transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
		transform-origin: center center;

}
.menu-switch .path .lines{
  opacity: 1;
}
.menu-switch .path .cross{
  opacity: 0;
}
.menu-switch.opened .path .lines{
  transform: rotate(180deg) translateY(0) translateX(0);
				opacity: 0;
}
.menu-switch.opened .path .cross{
  transform: rotate(180deg) translateY(0) translateX(0);
				opacity: 1;
}

@media screen and (min-width: 980px) {
  .menu-switch{
  display: none;}
}
.opened-list{
  width: 100%;
}
.opened-nav{
  width: 100%;
  margin-top: 0;
  
  transform: translateX(0);
}
